body {
    background-color: #84C0C6;
    color: white;
}

#mainNavbar {
    font-size: 1rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: black;
    font-size: 2rem;
    font-weight: 10;
}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.1rem;
    font-weight: 5;
}

#mainNavbar .nav-link:hover {
    color: black;
}

.navbar.scrolled {
    /* background-color: rgb(141, 202, 184); */
    background-color: #9FB7B9;
    transition: background 500ms;
}

.title {
    font-size: 5rem;
}

.footer {
    background-color: #16192c;
}

@media (max-width: 576px) {
    .projectTitle {
        font-size: 55px;
    }

}