body {
    background-color: #84C0C6;
}

#mainNavbar {
    font-size: 1rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2rem;
    font-weight: 10;
}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.1rem;
    font-weight: 5;
}

#mainNavbar .nav-link:hover {
    color: black;
}

.navbar.scrolled {
    background: rgb(36, 36, 36);
    transition: background 500ms;
}
